* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: lightcoral;
    height: 50px;
}


nav {
    /* border: 2px dotted black; */
    /* width: 30%; */
    /* width:min-content */
    /* width:max-content; */
    height: inherit;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}


nav > a {
    text-decoration: none;
    color: black;
    padding: 0 20px;
    font-size: 20px;
}


.about_us {
    display: flex;
    flex-direction: row;
}

img {
    width: 500px;
    margin: 10px 70px;
    }


span {
    font-size: 16px;
}


h1 {
    /* border: 3px solid grey; */
    padding: 10px;
    margin: 30px;
    text-align: center;
    /* line-height: 20px */
}


h2 {
    text-align: center;
}


#code {
    font-weight: bold;
}


.hacker {
    text-align: center;
}

.game {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
}

.choose_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.description {
    padding: 10 10px;
    margin: 10 0px;
}


.choose_block_container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 650px;
}
.choose_block_container > div {
    width: 150px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral; 
}

.choose_element {
    border: 3px solid black
}